{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/main.css">
<h3>MPEG ONLINE - ваш онлайн-конвертер видео и аудио!</h3><br>
<h4>Наши услуги предоставляют вам возможность легко и быстро преобразовывать ваши медиафайлы в нужные форматы. </h4>
<h3>Мощность</h3>
<h4>Благодаря использованию мощного инструментария, мы обеспечиваем высококачественную и эффективную конвертацию видео и аудиофайлов.</h4>
<h3>Удобство</h3>
<h4>Наш сервис доступен онлайн, что позволяет вам конвертировать ваши файлы прямо в браузере, без необходимости установки дополнительного программного обеспечения или заботы о совместимости с вашей операционной системой. Просто загрузите ваш файл, выберите нужные настройки конвертации и получите результат в считанные минуты.</h4>
<div class="button-group">
		{% if current_user.is_authenticated %}
				<a href="/upload" class="btn btn-success btn-outline">Начать</a>
		{% else %}
				<a href="/login" class="btn btn-primary btn-outline">Войти</a>
				<a href="/register" class="btn btn-secondary btn-outline">Попробовать</a>
		{% endif %}
</div>
{% endblock %}
